.DS_Store
.project
.metadata
.classpath
.settings/
target/
.idea/
*.iml
*.ipr
*.iws
/nbactions.xml
.checkstyle
.externalToolBuilders
maven-eclipse.xml

node_modules
front-end-repositories

/harbor-ui/src/main/content/jcr_root/etc/designs/**/*.css