<div data-sly-use.carousel="com.icfolson.aem.harbor.core.components.content.carousel.Carousel"
     id="${carousel.id}-carousel" class="${carousel.cssClass}"
     data-ride="${(isPreviewMode || isPublish) ? 'carousel' : ''}"
     data-interval="${carousel.interval == 0 ? 'false' : carousel.interval}"
     data-pause="${carousel.pauseOnHover ? 'hover' : ''}"
     data-keyboard="${carousel.keyboard ? 'true' : ''}"
     data-wrap="${carousel.wrap ? 'true' : ''}">
    <p data-sly-test="${isEditMode && !carousel.slides}" class="author-help-message">Carousel</p>
    <sly data-sly-test="${!isEditMode && carousel.showSlideSelectorControls}" data-sly-include="slideselectorcontrols.html"></sly>
    <sly data-sly-include="slides.html"></sly>
    <sly data-sly-test="${!isEditMode && carousel.showPreviousAndNextControls}" data-sly-include="previousandnextcontrols.html"></sly>
</div>