#CQ div .well{
    background: #b9def0;
    min-height: 84px;
    padding: 5px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
}

#CQ div .well .x-small .btn{

    margin-left: -10px;
    padding: 5px;
    width: 30px;
    height: 30px;

}

#CQ div .well .small .btn{

    margin-left: -2px;
    padding: 5px;
    width: 30px;
    height: 30px;


}

#CQ div .well .small {

    width: 56px;
    margin: 10px auto 0 auto;

}

#CQ div .well .regular {

    margin: 10px auto;
    width: 67px;

}