<div data-sly-use.carousel="${component.properties['className']}"
     id="${carousel.id}-carousel"
     class="${carousel.cssClass}"
     data-ride="${(isPreviewMode || isPublish) ? 'carousel' : ''}"
     data-interval="${carousel.interval == 0 ? 'false' : carousel.interval}"
     data-pause="${carousel.pauseOnHover ? 'hover' : ''}"
     data-keyboard="${carousel.keyboard ? 'true' : ''}"
     data-wrap="${carousel.wrap ? 'true' : ''}"
     data-sly-attribute.data-path="${isAuthor ? resource.path : ''}">

    <!-- Indicators -->
    <sly data-sly-test="${(isPreviewMode || isPublish) && carousel.showSlideSelectorControls}" data-sly-include="slideselectorcontrols.html"></sly>

    <!-- Wrapper for slides -->
    <sly data-sly-include="slides.html"></sly>

    <!-- Controls -->
    <sly data-sly-test="${(isPreviewMode || isPublish) && carousel.showPreviousAndNextControls}" data-sly-include="previousandnextcontrols.html"></sly>
</div>