<div data-sly-use.responsiveContainer="com.icfolson.aem.harbor.core.components.content.responsivecontainer.ResponsiveContainer"
     class="${isEditMode ? '' : responsiveContainer.responsiveClasses}">
    <sly data-sly-resource="${'container-par' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    <div data-sly-test="${isEditMode && responsiveContainer.hiddenInSomeDevices}"
         class="${responsiveContainer.inverseResponsiveClasses} harbor-responsive-container-overlay"></div>
</div>