e
body,
button,
input,
select,
textarea {
    color: #606060;
    font-family: 'Oxygen',sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
}


h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

code{
    white-space: normal;
}


/* override default */
@media(min-width:1200px){
    .container{
        width:970px;
    }
}


#content-body{
    background-color:##f8f8f8;
    border-top:1px solid #ddd;
}


/* Links */
a {
    color: #16bcbc;
    text-decoration: none;

}
a:visited {
    color: #ccc;
}
a:hover,
a:focus,
a:active {
    color:#000;
    text-decoration: none;
}


#page{
    position: relative;
    background: #f8f8f8;
}


/* Header */

#masthead{
    position: absolute;
    z-index: 110;
    width: 100%;
    height: 100px;
    top:0;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.43) 0%, rgba(0,0,0,0.06) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.43)), color-stop(100%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.06) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.06) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.06) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.06) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */

}


#header-container:before{
    content:'';
    height:100px;
    display:block;
    background-color:black;
    opacity(0,0.5);
    width:100%
}



#home-link {
    display: inline-block;
    color: #fff;
    margin-top:20px;
}

#home-link h1{
    font-size: 32px;
    font-weight: bold;
    color:white;
}

.site-branding{
    color: #fff;
    padding:20px 0px;
}




/* Menu */

.navbar-default{
    margin-top: 20px;
    float: right;
    display: block;
    background:transparent;
    border:none;
    box-shadow:none;
}

.navbar-default ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}
.navbar-default li {
    float: left;
    position: relative;
    margin:0px 5px;
}
.navbar-default a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;

}
.navbar-default ul > li a:link,.navbar-default ul > li a:visited {
    color: #fff;
}

.navbar-default ul > li a:hover, .navbar-default  li.current-menu-item a{
    background: #fff;
    color: #333!important;
}
.navbar-default ul ul {
    
    display: none;
    float: left;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 99999;
    background: #fff;
    padding: 0px 0px;


}
.navbar-default ul ul ul {
    left: 100%;
    top: 0;
}
.navbar-default ul ul a {
    width: 200px;
    padding: 15px 10px;
    color: #999;
}
.navbar-default ul ul li {
    line-height: 1;
    border-bottom: 1px solid #eee;
    margin: 0px 0px;
    color: #999;
}
.navbar-default ul ul li a:link, .main-navigation ul ul li a:visited{
    color: #777;
}

.navbar-default li:hover > a {
    
}
.navbar-default ul ul :hover > a {
    color: #444;
}
.navbar-default ul ul a:hover {
}
.navbar-default ul li:hover > ul {
    display: block;
}
.navbar-default li.current_page_item a,
.navbar-default li.current-menu-item a {
color: #777;
}


/* widgets - components */

h1.widget-title, h3.sidetitle {
    font-size: 20px;
    color:#000;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: bold;
}

.widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
    color: #6f7779;
    border-bottom: 1px dotted #ddd;
    padding: 7px 0px;
}

.widget ul li a:link,.widget ul li a:visited {
    color: #6f7779;
    text-decoration: none;
}

.widget ul li a:hover{
    color:#ed564b;
}


