<div data-sly-use.accordion="com.icfolson.aem.harbor.core.components.content.accordion.Accordion"
     class="panel-group"
     role="tablist"
     aria-multiselectable="true"
     id="${accordion.id}-accordion-container">
    <sly data-sly-test="${accordion.items}"
         data-sly-repeat.currentItem="${accordion.items}"
         data-sly-resource="${currentItem.path @ resourceType='harbor/components/content/accordion/accordionitem', cssClassName='panel panel-default', decorationTagName='div'}"/>
    <div data-sly-test="${isEditMode && !accordion.items}" class="author-help-message">
        Add Accordion Items Using the + Button
    </div>
</div>