<div data-sly-test="${isEditMode}" class="author-help-message">
    Column Row - Press the &quot;Add Experience&quot; button in the edit bar to add columns.
</div>
<div data-sly-use.columnrow="${component.properties['className']}" class="${columnrow.cssClass}" data-sly-attribute.id="${columnrow.domId}">
    <div data-sly-test="${columnrow.columns}"
         data-sly-repeat.column="${columnrow.columns}"
         data-sly-attribute.class="${column.columnWidthClasses}"
         name="${column.name}"
         data-sly-attribute.id="${column.domId}"
         data-sly-resource="${column.name @ resourceType='harbor/components/content/column', decorationTagName='div'}">
    </div>
</div>
