<ol class="breadcrumb" data-sly-use.breadcrumb="com.icfolson.aem.harbor.core.components.content.breadcrumb.BreadcrumbComponent">
    <li data-sly-repeat.currentTrailItem="${breadcrumb.items}">
        <sly data-sly-test="${!currentTrailItemList.first && breadcrumb.items.hasHtmlDelimiter}">${breadcrumb.items.htmlDelimiter}</sly>
        <i data-sly-test="${!currentTrailItemList.first && breadcrumb.items.hasIconDelimiter}" class='fa ${breadcrumb.items.iconDelimiter}'></i>

        <a data-sly-unwrap="${!breadcrumb.items.renderAsLink}" href="${currentTrailItem.href}">
            <sly data-sly-test="${!currentTrailItem.hideIcon}">${currentTrailItem.pageIcon}</sly>
            <sly data-sly-test="${!currentTrailItem.hideTitle}">${currentTrailItem.title}</sly>
        </a>
    </li>
</ol>